header{
    background-color: #E5E5DC;
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    min-width: 800px;
}

.header_logo{
    width: 250px;
    height: 80px;
    display: block;
    background-color: #E45F4D;
}

.header_logo img{
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
    display: block;
}

.mnu_top{
    height: auto;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.mnu_top li{
    border-top-style: solid;
    border-top-width: 5px; 
    border-top-color: #E5E5DC;
    display: inline-block; 
    width: 200px;
    height: 80px;
}

.mnu_top li:last-child a:last-child{
    border-color: #00000000
}

.mnu_top li a{
    text-align: center;
    display: block; 
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 200;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #0000003b;
    margin-top: 20px;
}

.mnu_top li:hover{
    border-top-style: solid;
    border-top-width: 5px; 
    border-top-color: #E45F4D;
}

.mnu_top li:hover a{
    color: #E45F4D;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 550px;
    height: auto;
    width: 80%;
    background-color: #E5E5DC;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    padding-bottom: 50px;
    min-width: 800px;
}

footer{
    background-color: #E5E5DC;
    width: auto;
    height: auto;
    display: flex;
    min-width: 800px;
}

.footer_div{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-left: 100px;
    height: 80px;
}

.footer_logo{
    width: 120px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    background-color: #E45F4D;
}

.footer_logo img{
    margin-left: auto;
    margin-right: auto;
    max-height: 50px;
    display: block;
}

.mnu_bottom{
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
}

.social{
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.social a img{
    height: 40px;
    margin-right: 10px;
    display: block;
}


.slideshow {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.slideshow-item {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: slideanim 32s infinite;
}
.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
    animation-delay: 0;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
    animation-delay: 8s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
    animation-delay: 16s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img {
    animation-delay: 24s;
}

.slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slideanim {
    12.5%{
        opacity: 1;
    }
    25%{
        opacity: 1;
    }   
    37.5%{
        opacity: 0;
    }
}

.slideshow-item-text {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    padding: 20px 30px;
    font-family: Verdana, sans-serif;
}
.slideshow-item-text h5 {
    font-size: 40px;
    margin: 0 0 10px 0;
    color: #E5E5DC;
    text-shadow: 1px 1px 2px black;
}
.slideshow-item-text p {
    font-size: 32px;
    margin-bottom: 10px;
    color: #E7887B;
    text-shadow: 1px 1px 2px black;
}

.contact_us{
    display: flex;
    flex-direction: column;
    background-color: #1C1C18;
    box-shadow: 3px 3px 5px #E45F4D;
    height: 300px;
    width: 60%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.contact_us img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.input{
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: #E5E5DC;
    height: 30%;
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.text{
    display: flex;
    height: 50%;
    width: 100%;
    border-bottom: solid;
    border-bottom-color: #E5E5DC;
}

.text h6{
    color: #E5E5DC;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.form{
    display: flex;
    height: 50%;
    width: 100%;
}

.form_name{
    display: flex;
    border-right-style: solid;
    border-right-color: #E5E5DC;
    border-right-width: 2px;
    height: 100%;
    width: 40%;
}

.form h4{
    color: #E5E5DC;
    font-size: 20;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.user{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 220px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.user img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: #E45F4D;
}

.user h5{
    margin-top: 15px;
    color: #E45F4D;
}

.user p{
    margin-top: 5px;
    font-size: 15px;
}

.content{
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row{
    display: flex;
    height: 100%;
    width: 50%;
    margin: 0;
}

.row a{
    text-decoration: none;
}

.hike{
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: #fff;
    width: 450px;
    height: 200px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
    text-decoration: none;
}

.hike_photo{
    display: flex;
    height: 100%;
    width: 50%;
    object-fit: cover;
    background-image: url('/images/hike1.jpg');
}

.hike_photo h6{
    font-size: 14px;
    color: #fff;
    background-color: #E45F4D;
    width: 50%;
    height: 20%;
    margin: auto;
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
}

.hike_text{
    width: 50%;
    height: 100%;
    text-align:left;
    padding-left: 10px;
    padding-top: 15px;
    color: #1C1C18;
}

.author{
    color: #E45F4D;
    font-size: 14px;
}

.hike_name{
    color: #1C1C18;
    font-size: 24px;
}

.hike_desc{
    font-size: 10px;
}

.user2{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 220px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.user2 img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: #E45F4D;
    margin-left: auto;
}

.user2 h5{
    margin-left: auto;
    margin-top: 15px;
    color: #E45F4D;
}

.user2 p{
    text-align: right;
    margin-left: auto;
    margin-top: 5px;
    font-size: 15px;
}

.references{
    white-space: nowrap;
    display: inline-block; 
    flex-wrap: nowrap;
    margin-top: 100px;
    height: 350px;
    width: 100%;
    font-size: 0;
}

.camping{
    display: inline-block; 
    height: 100%;
    width: 35%;
    margin: 0;
    background-size: cover;
    box-shadow: 6px 6px 6px #E45F4D;
    background-image: url('/images/camping.jpeg');
}

.contact{
    display: flex;
    display: inline-block; 
    height: 100%;
    width: 30%;
    flex-direction: column;
    text-align: center;
}

.rafting{
    display: flex;
    display: inline-block; 
    height: 100%;
    width: 35%;
    margin: 0;
    background-size: cover;
    box-shadow: -6px 6px 6px #E45F4D;
    background-image: url('/images/rafting.jpeg');
}

.contact img{
    display: flex;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.button{
    display: flex;
    background-color: #E45F4D;
    height: 40px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.button h6{
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.button:hover{
    box-shadow: 3px 3px 10px #464646;
}

.catalog{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.catalog a{
    text-decoration: none;
}

.catalog_item{
    background-color: #fff;
    height: 250px;
    width: 200px;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #E45F4D;
    box-shadow: 0 2px 3px #1c1c1883;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.catalog_item img{
    height: 200px;
    width: 200px;
    object-fit: fill;
}

.item_content{
    display: flex;
    text-align: center;
}

.item_content h5{
    display: flex;
    color: #E7887B;
    margin-left: auto;
    margin-right: auto;
}

.catalog_item:hover{
    box-shadow: 0 4px 20px #E7887B;
}



.products_list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.products_list a{
    text-decoration: none;
}

.product{
    background-color: #fff;
    height: 280px;
    width: 200px;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #E45F4D;
    box-shadow: 0 2px 3px #1c1c1883;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.product img{
    height: 180px;
    width: 200px;
    object-fit: cover;
    margin: 0;
}

.product_content{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 96px;
}

.product_content h5{
    display: flex;
    color: #E7887B;
    margin-left: auto;
    margin-right: auto;
}

.product:hover{
    box-shadow: 0 8px 20px #E7887B;
}

.product_content div h6{
    display: flex;
    color: #1c1c18bc;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.product_content div{
    display: flex;
    background-color: #E7887B;
    border-top-style: solid;
    border-top-color: #E45F4D;
    border-top-width: 2px;
    width: 100%;
    height: 100%;
}


.search{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin-top: 30px;
}

.page_name{
    display: flex;
    background-color: #E7887B;
    height: 100%;
    width: 200px;
    border-top-style: solid;
    border-top-color: #E45F4D;
    border-top-width: 3px;
}

.page_name h5{
    display: flex;
    color: #fff;
    margin: auto;
}

.search_input{
    display: flex;
    justify-content: right;
    background-color: #fff;
    height: 100%;
    width: 600px;
    margin-left: 100px;
}

.search_input img{
    height: 100%;
    width: auto;
    object-fit: cover;
}





.contact_body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
}

.contact_body div img{
    height: 70%;
    width: auto;
    object-fit: cover;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.static_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    height: auto;
}

.static_info div div{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}


.static_info div div h5{
    font-size: 14px;
    color: #E45F4D;
}

.adress{
    display: flex;
    width: 80%;
    height: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.phone{
    display: flex;
    width: 80%;
    height: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.email{
    display: flex;
    width: 80%;
    height: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.input_form{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    background-color: #E7887B;
    box-shadow: 0 8px 20px #464646;
}

.input_form h2{
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.input_form form{
    height: 100%;
}

.field{
    background-color: #E7887B;
    display: flex;
    outline: none;
    width: 80%;
    height: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-bottom-style: solid;
    border-bottom-color:  #E45F4D;
    border-bottom-width: 4px;
    color: #fff;
    font-size: 20px;
}

.field::placeholder {
    color: rgba(255, 255, 255, 0.573);
    font-size: 18px;
    font-family: sans-serif;
  }
  
.send{
    display: flex;
    width: 30%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
    border: none;
    background-color: #E45F4D;
}

.send h3{
    display: flex;
    color: rgba(255, 255, 255, 0.752);
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.general_info{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
    margin-top: 50px;
}

.image{
    display: flex;
    width: 50%;
    height: 100%;
    border-top: 3px solid #E45F4D;
    box-shadow: 3px 3px 10px #464646;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.checkout{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.price_holder{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 150px;
    background-color: #fff;
    border-top: 3px solid #E45F4D;
    box-shadow: 3px 3px 10px #464646;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.price_holder h5{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.price_holder div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
}

.price{
    display: flex;
    width: 100%;
    height: 100%;
}

.price a{
    background-color: #E7887B;
    width: 65%;
    height: 50px;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.price a div{
    display: flex;
    justify-content: center;
    height: 100%;
    border-top: 3px solid #E45F4D;
}

.price a div:hover{
    box-shadow: 3px 3px 10px #464646;
}

.price a div h6{
    color: #1C1C18;
    margin-top: auto;
    margin-bottom: auto;
}

.price_holder div img{
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

.order{
    margin-top: auto;
    margin-bottom: auto;
}

.description{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-top: 3px solid #E45F4D;
}

.tour_img{
    display: flex;
    height: auto;
    width: 100%;
    object-fit: cover;
    margin-top: 50px;
}

.video{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tour_general{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.general_text{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.general_author{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.general_text p{
    margin-left: 30px;
    margin-right: 30px;
}

.author_block{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: #e7887b70;
    border-top: 4px solid#E45F4D;
}

.author_block img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: #E45F4D;
    margin-left: auto;
}

.author_block h5{
    margin-left: auto;
    margin-top: 15px;
    color: #E45F4D;
}

.author_block p{
    text-align: right;
    margin-left: auto;
    margin-top: 5px;
    font-size: 15px;
    color: #1C1C18;
}

.search_field{
    display: flex;
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 20px;
}

.search_field::placeholder {
    color: #e45f4d67;
    font-size: 18px;
    font-family: sans-serif;
  }

.error{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.error h6{
    font-size: 12px;
    color: rgb(255, 0, 0);
}
